body {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('http://i.imgur.com/3rlrzIY.png');
  background-attachment: fixed;
  background-size: cover;
}
.bigBanner {
  padding-top: 0px;
  border-top: 0px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 975px;
  background-image: url('http://i.imgur.com/BeSZflt.jpg');
  background-size: 83%;
  background-position: right;
}
.bigBanner h1 {
  text-align: left;
  color: rgba(48, 47, 55, 1);
  font-size: 50px;
  padding-bottom: 1px;
  border-bottom: 1px;
  margin-bottom: 1px;
}
.bigBanner h6 {
  text-align: left;
  color: rgba(48, 47, 55, 1);
  font-size: 18px;
  padding-top: 1px;
  border-top: 1px;
  margin-top: 1px;
}
.textBody p {
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  width: 975px;
  text-align: justify;
  text-justify: inter-word;
}
.lorem1 p {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 975px;
  text-align: justify;
  text-justify: inter-word;
}
.textBox {
  background-color: rgba(107, 0, 0, 0.6);
  width: 975px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
.footerImage {
  background-image: url('http://i.imgur.com/BeSZflt.jpg');
  height: 300px;
  width: 975px;
  background-size: 75%;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.smallHeader h4 {
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 2px;
  padding-top: 2px;
}
.loremTitle h6 {
  color: #fff;
  text-align: left;
  font-size: 18px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.textBody h6 {
  color: #fff;
  text-align: left;
  font-size: 18px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.loremList h6 {
  color: #fff;
  text-align: left;
  font-size: 18px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.loremList ul {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 975px;
  text-align: justify;
  text-justify: inter-word;
}
